<div class="wrapper row2">
	<div id="hpage_featured" class="clear">
		<div class="cs_response_container">
			<h2><%= @message %></h2>
			<h2>Please check your</h2>
			<span style="text-decoration:underline; color:blue;"><%= @registration_email %></span><br/><br/>
			<h2>Email with further instructions regarding how to complete the registration process</h2>
			</div>
		</div>
	</div>
</div>