<div class="wrapper row2">
	<div id="hpage_featured" class="clear">
		<div class="left_float_reg clear">
			<div class="reg_form_container">
				<%= render 'form' %>
			</div>
		</div>
		</div>
	</div>
</div>