<div class="wrapper row2" style="padding-bottom: 60px;">
    <div id="hpage_featured" class="clear">
        <div class="left_float_pg_heading">
            <h1>Chinese Mandarin Immersed Program</h1>
            <p>Our program is based on the principal that by letting kids fully immersed in a Chinese environment, they will be quickly picking up Chinese listening and communicative skills. We make the immersed program fun by having kids participate in fun games, addictive and rhythmic music and creative art projects. All materials will be included. We hope your child will join us on our exciting journey through language!</p><br/>
        </div>
        <div class="right_float_pg_image">
            <%= image_tag("/assets/children-whandprints-copy.jpg")%>
        </div>
        <div class="left_float_pg clear">
            <h1>Virtual Chinese Class</h1>
            <p>In the virtual classrooms of Alpha Beta Language School, we use Zoom to teach children Mandarin Chinese. The classes have been designed and developed by a team of professional Chinese teachers. All of our teachers have experiences conducting lessons to children coming from a diverse set of language backgrounds. The virtual classes are Chinese immersed. The curriculum is designed to inspire the interests of children, and expand their attention span. </p>
            <h1>Beginner Panda Group Ages 3 – 6 (temporarily unavailable):</h1>
            <p>Teacher will be focusing on instructing kids with foundational vocabulary. Each class's curriculum will be featuring a targeted learning topic. Topics includes colors, numbers, food, or body parts. All of the class songs, and craft projects are designed to reinforce student's acquired listening and speaking Chinese skills learned through the taught topics.</p><br/>
            <h1>Beginner Star Group Ages 6 – 10 (temporarily unavailable):</h1>
            <p>Teacher will be focusing on building kids' Chinese speaking and listening skills through rapid vocabulary acquisition. The full immersion classes will be entirely taught in Chinese! Your child will learn to communicate actively with fellow peers in the class. There will be craft projects, Chinese cultural music and snack enjoyment time for the kids to reinforce his or her acquired Chinese. We track and communicate each child's learning progress regularly.</p>
        </div>
        </div>
    </div>
</div>
