<div class="wrapper row2">
	
	<div id="hpage_featured" class="clear">
		<div class="image clear">
			<img src="http://www.parkstreetschool.org/images/content/programs/sidebar/elementary_afterschool.jpg" />
		</div>
		<div class="intro">
	        <div class="fl_right">
	          <h2>Welcome to Our School</h2>
	          <p>Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam interdum eros dui urna consequam ac nisl nullam ligula vestassa condimen tumfelis. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
	        </div>
	      </div>
		</div>
	</div>
</div>