<div class="wrapper row2">
	
	<div id="hpage_featured" class="clear">
		<div class="image clear">
			<%= image_tag("/assets/chinese-link.png") %>
		</div>
		<div class="intro">
	        <div class="fl_right">
	          <h2>Welcome to Alpha Beta Language School</h2>
	          <p>Our program is based on the principal that by letting kids fully immersed in a foreign environment, they will be quickly picking up foreign language listening and communicative skills. We make the immersed program fun by having kids participate in fun games, addictive and rhythmic music and creative art projects. All materials will be included. We hope you child will join us on our exciting journey through language learning!</p>
			  <br />
			  <h2>Who we are</h2>
			  <p>What we do and who we are pretty simple! We are professional foreign language teachers who are passionate about teaching foreign language to young children. We strive for excellence and always welcoming your feedback!</p>
	        </div>
	      </div>
		</div>
	</div>
	
</div>