$green: #6d962f;
$dark_green: #557525;
$light_green: #8dc23c;
$splash_green: #93bc4d;
$lighter_green: #a3e045;
$divider_green: #9dc93e;
$highlight_green: #7fa533;
$medium_green: #649F00;
$pale_green: #e6f1d3;

$light_yellow: #ffffcc;
$yellow: #fae188;
$dark_yellow: #ffbb32;
$darker_yellow: #f6b500;
$darkest_yellow: #9b721a;
$shadow_yellow: #c99500;
$brown: #7a6e42;

$warning_red: #e0534e;
$light_warning_red: #ff908c;
$highlight_red: #dd4b39;

$gmail_red: #d24836;
$light_gmail_red: #ea4e3c;

$error_bg_red: #cf4a4a;
$error_bg_shadow_red: #a33a3a;

$black: #000000;
$gray: #ececec;
$lightest_gray: #fcfcfc;
$lighter_gray: #f9f9f9;
$light_gray: #f5f5f5;
$highlight_gray: #ddd;
$medium_gray: #ccc;
$dark_gray: #a0a0a0;
$darker_gray: #898989;
$darkest_gray: #777;

$heading_gray: #555;
$subheading_gray: #666;
$side_menu_gray: #777;

$white: #fff;
$black: #000;
$text_gray: #555;
$table_text_gray: #555;

$table_dark_gray: #3f3f3f;
$table_darker_gray: #222;
$table_divider_gray: #555;
$table_cell_gray: #eee;

$form_border_gray: #dfdfdf;
$form_content_gray: $text_gray;

$font_color: #000;
$alert_font_color: #e0534e;

$prospect_current_bg_yellow: #F7B631;
$prospect_won_bg_green: #89bd3b;
$prospect_lost_bg_gray: $medium_gray;

$link_color: #589CAF;
$light_blue: #D9EDF7;
$blue: #c1e4f4;
$selected_color: $text_gray;

$orange: #FAA41D;
$darker_orange: #EC7C08;
$darkest_orange: #bc5d0a;