<div class="wrapper row2">
	<div id="hpage_featured" class="clear">
		<div class="top_locales">
			<h1>We are around you!</h1>
			<p>Alpha Beta Language School is conveniently located in Boston's Beacon Hill Neighborhood as well as South Shore's city of Braintree. The Beacon Hill location is our newest location. It is meant to serve parents and children who are living in the city proper and are interested in learning Mandarin Chinese. The South Shore location is the grass root location of Alpha Beta Language School. We have been seeing it thriving with new and returning parents and children who have been humming in the art of Mandarin Chinese since our inception!</p>
		</div>
		<div class="bottom_float_locales_left">
			<h3>Braintree Location: </h3>
			<iframe width="385" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+dobson+road+braintree+ma&amp;aq=&amp;sll=42.252155,-70.903702&amp;sspn=0.200759,0.481339&amp;ie=UTF8&amp;hq=&amp;hnear=9+Dobson+Rd,+Braintree,+Massachusetts+02184&amp;ll=42.228165,-70.981925&amp;spn=0.012551,0.030084&amp;t=m&amp;z=14&amp;output=embed&iwloc=near"></iframe><br/>
		</div>
		<div class="bottom_float_locales_right">
			<h3>Boston Location: </h3>
			<iframe width="385" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=30+Brimmer+Street,+Boston,+MA&amp;aq=0&amp;oq=30+brimmer+st&amp;sll=42.236493,-70.963805&amp;sspn=0.012551,0.030084&amp;ie=UTF8&amp;hq=&amp;hnear=30+Brimmer+St,+Boston,+Massachusetts+02108&amp;ll=42.35775,-71.071587&amp;spn=0.006263,0.015042&amp;t=m&amp;z=14&amp;output=embed&iwloc=near"></iframe><br/>
		</div>
	</div>
	</div>
</div>