<div id="header" class="clear">
	<div class="fl_left">
		<%#= image_tag("/assets/abs-school-logo.png", :width => 385, :height => 93) %>
		<h1><%= "Alpha Beta Language School"%></h1>
		<p><%= "Start Early! Start Wise!"%></p>
    </div>

	<div class="fl_right">
		<p style="font-size:13px;"><%= link_to("Register For One Free Class", registrations_path) %> | <a href="#">Login</a></p>
	</div>
</h1>