<div id="header" class="clear">
	<div class="fl_left">
		<h1><%= "Alpha Beta Language School" %></h1>
		<p>Start Early! Start Wise!</p>
    </div>

	<div class="fl_right">
		<p style="font-size:13px;"><a href="#">Learn About Our Free Classes</a> | <a href="#">Login Here</a></p>
	</div>
</h1>