<div id="topnav">
  <ul>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Programs</a></li>
    <li><a href="#">Registration</a></li>
    <li class="last"><a href="#">Contact Us</a></li>
  </ul>
</div>